* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 14px;
    height: 100%;
    overflow-y: hidden;
    .el-aside {
        .nav_menu {
            width: 200px;
            background-color: rgb(84, 92, 100);
            color: #333;
            text-align: left;
            height: 910px;
            overflow: hidden;
            .el-menu {
                border: 0;
            }
        }
    }
    .el-header {
        padding: 0;
        .el-breadcrumb {
            padding: 0 20px;
            line-height: 60px;
            border-bottom: 1px solid #e6e6e6;
        }
    }
    .el-main {
        overflow: hidden;
        .main_content {
            .authority_container {
                .content {
                    // overflow-y: scroll;
                    .el-table {
                        height: 800px;
                    }
                }
            }
        }
    }
}