* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 14px;
  height: 100%;
  overflow-y: hidden;
}

html .el-aside .nav_menu,
body .el-aside .nav_menu {
  width: 200px;
  background-color: #545c64;
  color: #333;
  text-align: left;
  height: 910px;
  overflow: hidden;
}

html .el-aside .nav_menu .el-menu,
body .el-aside .nav_menu .el-menu {
  border: 0;
}

html .el-header,
body .el-header {
  padding: 0;
}

html .el-header .el-breadcrumb,
body .el-header .el-breadcrumb {
  padding: 0 20px;
  line-height: 60px;
  border-bottom: 1px solid #e6e6e6;
}

html .el-main,
body .el-main {
  overflow: hidden;
}

html .el-main .main_content .authority_container .content .el-table,
body .el-main .main_content .authority_container .content .el-table {
  height: 800px;
}
